{namespace sd=BeechIt\FalSecuredownload\ViewHelpers}

<ul>
	<f:for each="{folder.subFolders}" as="subFolder">
		<sd:security.assetAccess folder="{subFolder}">
			<li><span class="icon-folder {sd:leaveState(folder:subFolder, then:'icon-folder-open')}" data-folder="{subFolder.combinedIdentifier}">{subFolder.name}</span>
				<f:render partial="FileTree/Leaf" arguments="{folder:subFolder}" />
			</li>
		</sd:security.assetAccess>
	</f:for>
	<f:for each="{folder.files}" as="file">
		<sd:security.assetAccess folder="{folder}" file="{file}">
			<li><span class="icon-file icon-file-{file.extension}"></span><sd:downloadLink file="{file}">{file.name}</sd:downloadLink></li>
		</sd:security.assetAccess>
	</f:for>
</ul>
