{namespace sd=BeechIt\FalSecuredownload\ViewHelpers}

<ul>
	<f:for each="{folder.subFolders}" as="subFolder">
		<sd:security.assetAccess folder="{subFolder}">
			<li><span class="icon-folder"></span>{subFolder.name}
				<f:render partial="FileTree/Leef" arguments="{folder:subFolder}" />
			</li>
		</sd:security.assetAccess>
	</f:for>
	<f:for each="{folder.files}" as="file">
		<sd:security.assetAccess folder="{folder}" file="{file}">
			<li><span class="icon-file icon-file-{file.extension}"></span><a href="{file.publicUrl}" target="_blank">{file.name}</a></li>
		</sd:security.assetAccess>
	</f:for>
</ul>
